<head>
    <script src="~/lib/jquery/jquery-3.3.1.js"></script>"
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#serversForSearch").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</head>
<body>
    @model VServersListingViewModelMpcConfig

    @{
        ViewData["Title"] = "List of servers";
    }



    <h2>@ViewData["Title"]</h2>

    <hr />

    <p>
        Total number: <span class="badge-pill">@Model.ServersAffectedByOneVulnerability.Count()</span>
    </p>

    <!--
    <p>
        @using (Html.BeginForm("ImpactedServers", "Server", FormMethod.Get))
        {
            <b>Search by: </b> @Html.RadioButton("searchBy", "SystemName", true) <text>System name</text>
            @Html.RadioButton("searchBy", "Technical owner", true) <text>Technical owner</text> <br />
            @Html.TextBox("search")<input type="submit" value="search" />
        }
    </p>
    -->

    <form class="form-inline my-2 my-sm-1" asp-action="ImpactedServersMpcConfig" asp-controller="Server" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <input id="myInput" type="text" placeholder="Search..">

    <br />
    <div class="form-border" style="font-size:12px">

        <table class="table table-responsive" id="serversForSearch">
            <tr>
                <th>
                    IP
                </th>
                <th>
                    System name
                </th>
                <th style="text-align:center">
                    System status
                </th>
                <th style="text-align:center">
                    System type
                </th>
                <th style="text-align:center">
                    OS version
                </th>
                <th style="text-align:center">
                    Technical owner
                </th>
                <th style="text-align:center">
                    Downtime contact
                </th>
                <th style="text-align:center">
                    Last detected date
                </th>
                <th style="text-align:center">
                    Port
                </th>
                <th style="text-align:center">
                    Notes
                </th>
            </tr>
            @{ int currentMonth = DateTime.Now.Day <= 26 ? DateTime.Now.AddMonths(-1).Month : DateTime.Now.Month;}

            @foreach (var server in Model.ServersAffectedByOneVulnerability)
            {
                <tr>
                    <td id="serversForSearch">
                        @Html.DisplayFor(m => server.Ip)
                    </td>

                    <td id="serversForSearch">
                        @Html.DisplayFor(m => server.SystemName)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => server.SystemStatus)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => server.SystemType)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => server.OSversion)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => server.TechnicalOwner)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => server.DowntimeContact)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => server.LastDetected)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => server.Port)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(m => server.Notes)
                    </td>
                </tr>
            }

        </table>
    </div>
    <br />
    <div class="btn-block btn-group-sm">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-primary">Home</a>
        <a asp-area="" asp-controller="Vulnerability" asp-action="SeverityFourMpcConfig" class="btn btn-sm btn-info">Severity 4</a>
    </div>

    
</body>