@model VulnerabilitiesListingViewModel
@{
    ViewData["Title"] = "Severity 4 - September 2019";
}

<h2>@ViewData["Title"]</h2>

<p>
    Total number: <span class="badge-pill">@Model.AllVulnerabilities.Count()</span>
</p>

<br />

<div class="form-border">

    <table class="table table-hover">

        <tr>
            <th style="text-align:center">
                Name
            </th>
            <th style="text-align:center">
                Affected servers
            </th>
            <th style="text-align:center">
                Options
            </th>
        </tr>

        @foreach (var vulnerability in Model.AllVulnerabilities.Where(v => v.Severity == "4").OrderByDescending(v => v.AffectedServersCount))
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => vulnerability.Name)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(m => vulnerability.AffectedServersCount)
                </td>

                <td style=" text-align:center">
                    <div class="btn-block btn-group-sm">
                        <a asp-action="EditNote" asp-route-id="@vulnerability.Id" class="btn btn-sm btn-success">Edit note</a>
                        <a asp-controller="Vulnerability" asp-action="VulnerabilityDetails" asp-route-id="@vulnerability.Id" class="btn btn-info ">Details</a>
                        <a asp-controller="Archive" asp-action="ImpactedServersSEP2019" asp-route-id="@vulnerability.Id" class="btn btn-outline-dark">Servers</a>
                        <a asp-action="ArchiveVulnerability" asp-route-id="@vulnerability.Id" class="btn btn-danger">Solved</a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>
<br />
<div class="btn-block btn-group-sm">
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-primary">Home</a>
    <a asp-area="" asp-controller="Vulnerability" asp-action="SeverityFiveSeptember2019" class="btn btn-sm btn-info">Severity 5</a>
</div>
